
.container1 {
    display: flex;
    justify-content: center; /* Agar container berada di tengah secara horizontal */
    align-items: center; /* Agar container berada di tengah secara vertikal */
    height: 100vh; /* Agar container memenuhi tinggi layar */
}
.form9 {
    border-radius: 20px;
border: 1px solid rgba(0, 0, 0, 0.50);
background: #FFF;
    padding:70px;
    width: 100%; /* Mengatur lebar 100% dari parent */
    max-width: 1000px; /* Lebar maksimal form */
    margin: 0 auto; /* Agar form berada di tengah */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Memberikan bayangan agar lebih menarik */
}
.form9 label {
    display: block;
    margin-bottom: 14px;
    color: #000;
}
.form9 input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #3b3737;
    border-radius: 5px;
    border-radius: 10px;
border: 1px solid rgba(0, 0, 0, 0.50);
background: #FFF;
}
.form9 input[readonly] {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: rgba(67, 64, 64, 0.50);
}
.buttons1{
    position: absolute;
    display: flex;
    gap: 10px;
    justify-content: center; /* Untuk memposisikan tombol di tengah */
}
.save{
    margin-left: 1px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cancel{
    position: absolute;
    margin-left: 311px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


button.save {
    height: 44px; 
    border-radius: 10px;
    background: #295BDB;
    color: white;
    width: 148px;
}

button.cancel {
    height: 44px;
    width: 148px;
    border-radius: 10px;
    background-color: #FD7777;
    color: white;
}