* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 100%;
    max-width: 620px;
    background-color: white;
    padding: 20px;
    text-align: center;
   
}
.logo-image {
    width: 80px;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 79px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.input-icon {
    position: absolute;
    left: 10px; /* Mengatur posisi ikon */
    top: 50%; /* Memposisikan ikon di tengah secara vertikal */
    transform: translateY(-50%); /* Memindahkan ikon ke atas agar sejajar */
    fill: #434040; /* Warna ikon */
    fill-opacity: 50%;
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Mengatur lebar input sesuai dengan container */
    height: 57px; /* Tinggi input */
    padding: 10px 10px 10px 40px; /* Memberikan ruang untuk ikon */
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none; /* Menghilangkan outline saat fokus */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border: 1px solid #007bff; /* Mengubah border saat fokus */
}

.login-button {
    width: 100%;
    height: 57px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}
